:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Noto Sans KR",
    sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #fff;
}
a {
  color: inherit;
}
